body{
    display: flex;
    margin: 0;
    justify-content: center;
}
#container{
    width: 960px;
    height: 960px;
    display: flex;
    flex-flow: row wrap;
    gap: 1px;
}
.gridElement{
    background-color: chocolate;
}
